.page-header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(3, 3, 58);
    align-items: center;
    color: white;
    padding: 5px;
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0;
    left:0;
}
.page-header img{
    
    margin-left: 20px;
}

nav {
    background-color: rgb(3, 3, 58);
    overflow: hidden;
    padding: 20px;
    margin-top: 10px;
}

a:hover{
    background-color: rgb(0, 0, 30);
    transform: scale(1.03);
    border-radius: 10px;
    
}

 a{
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .signup{
    background-color: rgb(3, 3, 58);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: large;
    cursor: pointer;
 }
 .login{
    color: black;
    padding: 10px;
    border-radius: 10px;
    font-size: large;
    cursor: pointer;
 }

 button{
    margin-left: 30px;
    margin-right: 20px;
    
 }

 .main{
    margin-top: 90px;
    padding: 20px;
 }


.image-container{
    margin-top: 40px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0 , 0.2);
    margin-left: 0;
    display: block;
    width: 100%;
}

.image-container img{
    width: 100%;
    height: 700px;
    display: block;
    object-fit: cover;
    object-position: center;

}

.image-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 700px; /* Adjust as needed */
}

.slides {
  display: flex;
  width: 200%; /* 2 images */
  animation: slideloop 9s linear infinite;
}

.slides img {
  width: 100%;
  height: 700px   ;
  object-fit: cover;
}

@keyframes slideImages {
  0%   { transform: translateX(0%); }
  33%  { transform: translateX(-100%); }
  66%  { transform: translateX(-200%); }
  100% { transform: translateX(0%); }
}
 .loan-type-header{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .loan-type-cards{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 70px;
    padding: 20px;
    margin-top: 20px;
 }

.loan-card{
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0 , 0.4);
    transition: transform 0.2s ease-in-out;
}

.loan-card p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.loan-card h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(3, 3, 58);
}
.loan-card:hover{
    transform: scale(1.1);
}

.loan-card button{
    background-color: rgb(3, 3, 58);
    color: white;
    padding: 10px;
    border-radius: 10px;    
}

.loan-process{
    margin-top: 50px;
    padding: 20px;
}

.view-all {
    display: block;
    background-color: rgb(3, 3, 58);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: large;
    cursor: pointer;
    margin-top: 40px;
    margin: 0 auto;
}
.page-header {
  z-index: 1000; /* ensures it's above everything else */
}